#signup label { display: inline-block; font-size: 13px; width: 100px; }
input { line-height: 14px;}

#signup input[type='text']
#signup input[type='password']
#signup input[type='tel']
#signup input[type='email'] { border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    padding: 13px;
    width: 200px; }

#signup input[required] {border: 1px solid red;
    border-radius: 3px;}
#signup input[readonly] {border: none;}


